.reportPageDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tableTitle {
  margin-top: 3rem;
}

table {
  width: 75%;
  margin-bottom: 2rem;
}

.divChart {
  width: 75%;
  margin-top: 1.5rem;
}

.backToCustomersLink {
  color: inherit;
  text-decoration: none;
  margin-left: 8px;
}

.backToCustomersButton {
  margin: 1rem 1rem 0;
}
