.reportPageDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tableTitle {
  margin-top: 3.2rem;
}

table {
  width: 75%;
}

.divChart {
  width: 75%;
  margin-top: 1.5rem;
}
